<!DOCTYPE html>
<html>
<head>    
<link rel="stylesheet" href="/css/styles.css">

{{!-- web-server\js\app.js --}}
    </head>
<body>
{{>header}}
<p>Created by {{name}}</p>

<form action="">
{{!-- <label for="address" style="font-size: larger;color:black">Type the address of the location</label><br> --}}
<input id="address" type="text" placeholder="Type the address of the location" size="50">
<button>Search</button>
<br>
<p id="id1"></p>
<p id="id2"></p>
{{!-- <input id="display_field" type="text" placeholder="location and forecast will be shown here!!" size="50"> --}}
</form>
{{!-- <div id="display"></div> --}}
{{>footer}}

<script src="/css/app.js"></script>
    </body>
</html>